<div
  class="col-12 flex flex-column justify-content-start align-items-center bg-teal-500 pt-5"
>
  <div
    class="col-12 xs:col-12 sm:col-12 md:col-10 lg:col-10 xl:col-10 flex flex-column sm:flex-column md:flex-column lg:flex-row xl:flex-row justify-content-center align-items-start border-top border-200 border-dashed"
  >
    <div class="col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6 px-5">
      <p class="text-white letter-spacing-3 text-2xl">
        I’m looking forward to any future projects you have in the pipeline.
      </p>
      <p class="text-700 text-md">
        Please feel free to reach out to me through your preferred messaging
        tool at your convenience.
      </p>
    </div>
    <div
      class="col-12 sm:col-12 md:col-12 lg:col-6 xl:col-6 flex justify-content-start align-items-start"
    >
      <div class="col-4 text-600">
        <p>Navigation</p>
        <ul class="list-none p-0">
          <li>About</li>
          <li>Education</li>
          <li>Experience</li>
          <li>Project</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="col-4 text-600">
        <p>Personal Information</p>
        <ul class="list-none p-0">
          <li>Jerwin Fortillano</li>
          <li>09205643021</li>
          <li>winfort&commat;gmail.com</li>
        </ul>
      </div>
      <div class="col-4 text-600">
        <p>Social Accounts</p>
        <ul class="list-none p-0 flex justify-content-start gap-2">
          <li>
            <i class="pi pi-facebook text-white text-2xl cursor-pointer"></i>
          </li>
          <li>
            <i class="pi pi-linkedin text-white text-2xl cursor-pointer"></i>
          </li>
          <li>
            <i class="pi pi-github text-white text-2xl cursor-pointer"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 sm:col-12 md:col-10 lg:col-10 xl:col-10">
    <div class="col-12 flex justify-content-center align-items-start">
      <div class="col-6 w-100 px-3">
        <p class="text-white text-sm">&copy; Jerwin Fortillano</p>
      </div>
      <div class="col-6 w-100 text-right px-3">
        <p class="text-white text-sm">Alright Reserved</p>
      </div>
    </div>
  </div>
</div>
