<app-web-container [icon]="'pi-info-circle'" [label]="'About Me'">
  <div
    class="col-12 flex justify-content-between alig-items-center flex-column sm:flex-column md:flex-column lg:flex-row xl:flex-row pb-5"
  >
    <div class="col-12 xs:col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4">
      <p class="text-500 text-xl px-3">Perosnal Information</p>
      <div
        class="col-12 text-400 text-md sm:text-md md:text-md lg:text-lg xl:text-lg letter-spacing-2 line-height-4 px-3"
      >
        <p>{{ storeServie.personalDetail().name }}</p>
        <p>{{ storeServie.personalDetail().gender }}</p>
        <p>{{ storeServie.personalDetail().email }}</p>
        <p>{{ storeServie.personalDetail().phone }}</p>
        <p>{{ storeServie.personalDetail().address }}</p>
        <p>{{ storeServie.personalDetail().country }}</p>
      </div>
    </div>
    <div class="col-12 xs:col-12 sm:col-12 md:col-12 lg:col-8 xl:col-8">
      <p class="text-500 text-xl px-3">Biograhpy</p>
      <div class="col-12 letter-spacing-2 line-height-4">
        <p class="text-400 text-sm sm:text-sm md:text-md lg:text-lg xl:text-xl">
          {{ storeServie.personalDetail().bio }}
        </p>
      </div>
    </div>
  </div>
</app-web-container>
